{% load static %}

<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<button class="header__menu" type="button">
								<span></span>
								<span></span>
								<span></span>
							</button>

							<a href="index.html" class="header__logo">
								<img src="{% static 'img/icon/favicon-32x32.png' %}" alt="">
								<span>Dijital Market</span>
							</a>

							<ul class="header__nav">
								<li class="header__nav-item">
									<a class="header__nav-link" href="index.html">ANA SAYFA</a>
								</li>
								<li class="header__nav-item">
									<a class="header__nav-link" href="#" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KATALOG <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewbox='0 0 512 512'><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M112 184l144 144 144-144'></path></svg></a>

									<ul class="dropdown-menu header__nav-menu" aria-labelledby="dropdownMenu1">
										<li><a href="catalog.html">Katalog</a></li>
										<li class="dropdown-submenu">
											<a class="dropdown-item" href="#" role="button" id="dropdownMenuSub" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kategoriler</a>

											<ul class="dropdown-menu header__nav-menu" aria-labelledby="dropdownMenuSub">
												<li><a href="category.html">Kategoriler</a></li>
												<li><a href="category.html">Playstation</a></li>
												<li><a href="category.html">XBOX</a></li>
												<li><a href="category.html">PC</a></li>
											</ul>
										</li>
										<li><a href="details.html">Detay Sayfası</a></li>
									</ul>
								</li>
								<li class="header__nav-item">
									<a class="header__nav-link" href="#" role="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İÇERİK <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewbox='0 0 512 512'><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M112 184l144 144 144-144'></path></svg></a>

									<ul class="dropdown-menu header__nav-menu" aria-labelledby="dropdownMenu2">
										<li><a href="news.html">Haberler</a></li>
										<li><a href="article.html">Makaleler</a></li>
										<li><a href="interview.html">Röportajlar</a></li>
									</ul>
								</li>
								<li class="header__nav-item">
									<a class="header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewbox='0 0 512 512'><circle cx='256' cy='256' r='32' style='fill:none; stroke-miterlimit:10;stroke-width:32px'></circle><circle cx='416' cy='256' r='32' style='fill:none;stroke-miterlimit:10;stroke-width:32px'></circle><circle cx='96' cy='256' r='32' style='fill:none;stroke-miterlimit:10;stroke-width:32px'></circle></svg>
									</a>

									<ul class="dropdown-menu header__nav-menu header__nav-menu--scroll" aria-labelledby="dropdownMenu3">
										<li><a href="checkout.html">Sepetin</a></li>
										<li><a href="favorites.html">Favorilerin</a></li>
										<li><a href="about.html">Hakkımızda</a></li>
										<li><a href="profile.html">Profil</a></li>
										<li><a href="signin.html">Giriş Yap</a></li>
										<li><a href="signup.html">Kayıt Ol</a></li>
										<li><a href="forgot.html">Şifremi Unuttum</a></li>
										<li><a href="contacts.html">İletişim</a></li>
										<li><a href="404.html">404 Page</a></li>
									</ul>
								</li>
							</ul>

							<div class="header__actions">
								<a href="signout.html" class="header__login">
									<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewbox='0 0 512 512'><path d='M192,176V136a40,40,0,0,1,40-40H392a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H240c-22.09,0-48-17.91-48-40V336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></path><polyline points='288 336 368 256 288 176' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></polyline><line x1='80' y1='256' x2='352' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></line></svg>
									<span>Kayıt Ol</span>
								</a>
								<a href="signin.html" class="header__login">
									<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewbox='0 0 512 512'><path d='M192,176V136a40,40,0,0,1,40-40H392a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H240c-22.09,0-48-17.91-48-40V336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></path><polyline points='288 336 368 256 288 176' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></polyline><line x1='80' y1='256' x2='352' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></line></svg>
									<span>Giriş Yap</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<form action="#" class="header__form">
								<input type="text" class="header__input" placeholder="Şöyle bir şey arıyorum...">
								<select class="header__select">
									<option value="0">Tüm Kategoriler</option>
									<option value="1">Aksiyon</option>
									<option value="3">Macera</option>
									<option value="4">Dövüş</option>
									<option value="5">Simülasyon</option>
									<option value="6">Platform</option>
									<option value="7">Yarış</option>
									<option value="8">RPG</option>
									<option value="9">Spor</option>
									<option value="10">Strateji</option>
									<option value="11">Korku</option>
								</select>
								<button class="header__btn" type="button">
									<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewbox='0 0 512 512'><path d='M221.09,64A157.09,157.09,0,1,0,378.18,221.09,157.1,157.1,0,0,0,221.09,64Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'></path><line x1='338.29' y1='338.29' x2='448' y2='448' style='fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'></line></svg>
								</button>
							</form>

							<div class="header__actions header__actions--2">
								<a href="favorites.html" class="header__link">
									<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewbox='0 0 512 512'><path d='M352.92,80C288,80,256,144,256,144s-32-64-96.92-64C106.32,80,64.54,124.14,64,176.81c-1.1,109.33,86.73,187.08,183,252.42a16,16,0,0,0,18,0c96.26-65.34,184.09-143.09,183-252.42C447.46,124.14,405.68,80,352.92,80Z' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></path></svg>
									<span>Favoriler</span>
								</a>

								<a href="checkout.html" class="header__link">
									<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewbox='0 0 512 512'><circle cx='176' cy='416' r='16' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></circle><circle cx='400' cy='416' r='16' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></circle><polyline points='48 80 112 80 160 352 416 352' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></polyline><path d='M160,288H409.44a8,8,0,0,0,7.85-6.43l28.8-144a8,8,0,0,0-7.85-9.57H128' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></path></svg>
									<span>00.00 ₺</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>