{% extends 'layout.html' %}
{% load static %}

{% block content %}
<section class="section section--first section--last section--head" data-bg="{% static 'img/backgrounds/home-background.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Sepetim</h2>
                    <!-- end section title -->

                    <!-- breadcrumb -->
                    <ul class="breadcrumb" style="background: transparent;">
                        <li class="breadcrumb__item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Sepetim</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- section -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- cart -->
                <div class="cart">
                    <div class="table-responsive">
                        <table class="cart__table">
                            <thead>
                                <tr>
                                    <th>Oyun</th>
                                    <th>İsmi</th>
                                    <th>Geliştirici</th>
                                    <th>Adet</th>
                                    <th>Ücreti</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td>
                                        <div class="cart__img">
                                            <img src="{{ item.item.banner.url }}" alt="">
                                        </div>
                                    </td>
                                    <td>{{ item.item.name }}</td>
                                    <td>{{ item.item.developer }}</td>
                                    <td><a href="{{ item.less_quantity_url }}" class="order-item-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                        </svg></a>
                                        {{ item.quantity }} 
                                        <a href="{{ item.plus_quantity_url }}" class="order-item-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg></a>
                                    </td>
                                    <td><span class="cart__price">{{ item.calculate_row_price }} ₺</span></td>
                                    <td><button class="cart__delete" type="button">
                                        <a href="{{ item.remove_from_order_url }}" class="order-item-link" style="margin: 0 !important; padding: 0 important!;">
                                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewbox='0 0 512 512'><line x1='368' y1='368' x2='144' y2='144' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></line><line x1='368' y1='144' x2='144' y2='368' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'></line></svg>
                                        </a></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="cart__info">
                        <div class="cart__total">
                            <p>Toplam:</p>
                            <span>{{ total_price }} ₺</span>
                        </div>

                        <div class="cart__systems">
                            <i class="pf pf-visa"></i>
                            <i class="pf pf-mastercard"></i>
                            <i class="pf pf-paypal"></i>
                        </div>
                    </div>
                </div>
                <!-- end cart -->
            </div>

            <div class="col-12 col-lg-4">
                <!-- checkout -->
                <form action="#" class="form form--first form--coupon">
                    <input type="text" class="form__input" placeholder="Coupon code">
                    <button type="button" class="form__btn">Kuponu Uygula</button>
                </form>
                <!-- end checkout -->

                <!-- checkout -->
                <form action="#" class="form">
                    <input type="text" class="form__input" placeholder="Tufan Kılınç">
                    <input type="text" class="form__input" placeholder="tufankilinc@outlook.com">
                    <input type="text" class="form__input" placeholder="+90 531 893 65 92">
                    <button type="button" class="form__btn">Tamamla</button>
                </form>
                <!-- end checkout -->
            </div>
        </div>	
    </div>
</div>
<!-- end section -->

<!-- section -->
<div class="section section--last">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners owl-carousel">
                {% for partner in partners %}
                    <a href="#" class="partners__img">
                        <img src="img/partners/3docean-light-background.png" alt="">
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}